.heading {
    color: rgb(196, 4, 196);
    background-color: rgb(189, 178, 178);
    border: 3px solid black;
    text-align: center;
}


.blue {
    color: rgb(25, 226, 183);
}

.list {
    list-style-type: none; 

}

.list li {
    width: 70px;
    height: 25px;
    border: 1px solid #000;
}

.list + p {
    color: rgb(0, 183, 255);
}

li {
    width: 30px;
}

.link {
    text-decoration: none;
    text-transform: uppercase;
    
}

p {
    font-size: 15px;
}


h1,
h3,
p {
    text-align: center;
}

.menu li:first-child {
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.menu li:last-child {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}



.menu li {
    width: 100px;
    height: 30px;
    list-style-type: none;
    border: 1px solid #000;
    text-align: center;
}

.menu li a:hover {
    color:rgb(238, 67, 101);
}

.menu li a:active {
    color: green;
}

li {
    width: 100px;
    height: 30px;
    border: 1px solid #000;
}