.heading {
    color: rgb(196, 4, 196);
    background-color: rgb(189, 178, 178);
    border: 3px solid black;
    text-align: center;
}


.blue {
    color: rgb(25, 226, 183);
}

.list {
    list-style-type: none; 
}

.list li::after {
    content: "new";
    color: rgb(16, 247, 74);
    text-transform: uppercase;
}

.menu li:hover::after {
    content: "**";
    color: dodgerblue;
}

.text::first-letter {
    font-size: 30px;
    color: green;
}

.list + p {
    color: rgb(0, 183, 255);
}

li {
    width: 30px;
}

.link {
    text-decoration: none;
    text-transform: uppercase;
    
}

h1,
h3,
p {
    text-align: center;
}

.menu li:first-child {
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.menu li:last-child {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.menu li:nth-child(2n-1) {
    background-color: antiquewhite;
}

.menu li {
    width: 100px;
    height: 30px;
    list-style-type: none;
    border: 1px solid rgb(209, 95, 95);
    text-align: center;
}

.menu li a:hover {
    color:rgb(238, 67, 101);
}

.menu li a:active {
    color: green;
}
 
.table_1 {
    border: 1px solid rgb(27, 25, 25);
    width: 400px;
    height: 300px;
    border-collapse: collapse;
}

.table_1 td {
    border: 1px solid rgb(26, 25, 25);
    padding-left: 10px;
    vertical-align: middle;
    text-align: center;
}

.five {
    background-color: rgb(178, 126, 226);
}