a {
    font-size: 15px;
    color: rgb(235, 15, 15);
     
}

.menu li {
    list-style-type: none; 

}

.list {
    font-size: 18px;
    font-weight: 400;
    background-color: rgb(243, 158, 232);
}